.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  @include hover (transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../icons/icone_phone_2x.png);
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu_2x.png);
  }

  &--close {
    background-image: url(../icons/icon_close_2x.png);
  }
}
