// #region page
.page {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 1);

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
// #endregion
// #region header

.header {
  background-image: url(../images/header-bg-mobile.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 24px 20px 88px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header__logo {
  width: 130px;
  height: 38px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin: 0;
}

// #endregion
// #region icon

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--phone {
  background-image: url(../icons/icon_phone.png);
}

.icon--menu {
  background-image: url(../icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../icons/icon-close.png);
}
// #endregion
// #region menu

.menu {
  box-sizing: border-box;
  height: 100vh;
  padding: 24px 20px 88px;
  background-color: rgba(194, 194, 194, 1);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  width: 130px;
  height: 38px;
}
// #endregion
// #region footer

// #endregion
